.task {
  border: 1px solid var(--qora-color-divider-subtle);
  border-radius: var(--qora-radius-xl);
  min-height: 350px;
  box-shadow: var(--qora-effect-elevation-01);
}

.taskContent {
  padding: var(--qora-spacing-2xl);
  display: flex;
  flex-direction: row;
  gap: var(--qora-spacing-l);
  // Image should appear at the top when there isn't enough space for
  // side-by-side with the task data.
  flex-wrap: wrap-reverse;
  // Image should still be at top when side-by-side with the task data
  align-items: flex-end;
}

.taskData {
  flex: 1 1 0;
  min-width: min(300px, 100%);
}

.taskImage {
  position: sticky;
  background: var(--qora-color-container-background);
  top: var(--qora-spacing-xl);
  border-radius: var(--qora-radius-m);
  padding: var(--qora-spacing-s);
  border: 1px solid var(--qora-color-neutral-10);
  width: 115px;
  height: fit-content;

  img {
    width: 100%;
    height: auto;
  }
}

.taskStep {
  --task-icon-size: 22px;
  --half-task-icon-size: calc(var(--task-icon-size) / 2);
  --task-step-line-size: 2px;
  --half-task-step-line-size: calc(var(--task-step-line-size) / 2);

  min-height: 30px;
  // Space to the left of the steps line to counteract the negative left position
  // of the steps icon.
  margin-left: var(--half-task-icon-size);
  // The steps line
  border-left: var(--qora-color-neutral-20) var(--task-step-line-size) solid;
  // No padding-top so that the previous steps line extends to the top of this
  // steps icon.
  padding: 0 var(--qora-spacing-l) var(--qora-spacing-xl) var(--qora-spacing-l);
  // Space to the right of the steps line
  padding-left: calc(var(--half-task-icon-size) + var(--qora-spacing-m));

  font: var(--qora-font-default-regular);
  color: var(--qora-color-text-primary);
  position: relative;

  .taskIcon {
    --border-size: 1px;
    --qora-icon-size: 16px;
    --qora-progressring-size: 16px;
    --outline-color: var(--qora-color-divider-subtle);

    position: absolute;
    top: calc(0.5lh - var(--half-task-icon-size));
    left: calc(
      calc(var(--half-task-icon-size) + var(--half-task-step-line-size)) * -1
    );
    width: var(--task-icon-size);
    height: var(--task-icon-size);

    // circle
    border-radius: 50%;

    outline: var(--outline-color) var(--border-size) solid;
    outline-offset: calc(var(--border-size) * -1);
    background: var(--qora-color-container-background);

    // center the icon
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.isComplete {
    .taskIcon {
      --qora-icon-color: var(--qora-color-systemfeedback-success-icon);
      background: var(--qora-color-systemfeedback-success-background);
      --outline-color: transparent;
    }
  }

  &.isPending {
    .taskIcon {
      --qora-icon-color: var(--qora-color-systemfeedback-info-icon);
      background: var(--qora-color-systemfeedback-info-background);
      --outline-color: transparent;
    }
  }

  &:last-child {
    // Don't continue the steps line below the icon of the last step
    border-left-color: transparent;
  }
}

.progress {
  display: flex;
  flex-direction: column;
  gap: var(--qora-spacing-m);
}

.progressText {
  font: var(--qora-font-default-regular);
  color: var(--qora-color-text-primary);
}
