.root {
  background: var(--qora-color-container-background);
  border-radius: var(--qora-radius-l);
  box-shadow: var(--qora-effect-elevation-01);

  height: min(720px, calc(100vh - var(--qora-spacing-xl)));
  width: 100%;

  display: flex;
  flex-direction: column;

  & h4 {
    margin: 0;
    color: var(--qora-color-text-secondary);
    font: var(--qora-font-heading-h4);
  }
}

.searchBox {
  padding: 0 var(--qora-spacing-m) var(--qora-spacing-m) var(--qora-spacing-m);

  & qora-button {
    display: block;
  }
}

qora-dialog .root {
  max-height: 90vh;
}

.header {
  padding: var(--qora-spacing-2xl);

  & qora-button[fab] {
    flex: 0;
  }
}

.description {
  font: var(--qora-font-default-regular);
  color: var(--qora-color-text-tertiary);
}

.tabList {
  display: flex;
  flex-direction: column;
  gap: var(--qora-spacing-s);

  border-top: 1px solid var(--qora-color-divider-subtle);
  border-radius: 0 0 var(--qora-radius-m) var(--qora-radius-m);

  padding: var(--qora-spacing-s);
  padding-bottom: 0;

  overflow: hidden auto;

  height: 100%;
}

.tabItem {
  --qora-checkbox-flex-direction: row-reverse;

  padding: var(--qora-spacing-m);
  display: flex;
  gap: var(--qora-spacing-m);
  align-items: center;
  justify-content: space-between;
  border-radius: var(--qora-radius-s);

  transition: background-color 0.12s ease-in-out;

  & * {
    transition: color 0.12s ease-in-out;
  }

  &[checked='true'] {
    background: var(--qora-color-container-interactive);

    /* style the children of the checkbox */
    & * {
      color: var(--qora-color-text-interactive) !important;
    }
  }

  & .icon {
    flex-shrink: 0;
  }

  & .itemRow {
    padding: 0 var(--qora-spacing-m);

    display: flex;
    flex-direction: column;

    flex: 1;
    width: 0;
  }

  & .title {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    color: var(--qora-color-text-primary);
    font: var(--qora-font-default-regular);
  }

  & .subtitle {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    color: var(--qora-color-text-tertiary);
    font: var(--qora-font-small-regular);
  }
}

.noResults {
  height: 100%;
}

.noResultsText {
  font: var(--qora-font-default-regular);
  color: var(--qora-color-text-tertiary);
}

.noResultsSuggestion {
  font: var(--qora-font-small-regular);
  color: var(--qora-color-text-tertiary);
}
